header 
{
    background-color: #0008ff
    
}
div.title 
{
    
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

/* Left Sidebar */


div.cityCard
{
    background-color: white;
    color: black;   
}
/* Weather Data */

div.currentWeather 
{
    margin-bottom: 20px;
    background-color: white;
}

div.currentWeather h2,
div.currentWeather h3 
{
    font-size: 1.3rem;
    margin: 10px;
}


div.fiveDay h1
{
    font-size: 20px;
}

div.fiveDay p 
{
    font-size: 15px;
}

div.fiveDay p.day-title 
{
    font-weight: bold;
    color: white;
}
div.fiveDay p.day-subtitle
{
    font-weight: bold;
    color: white;
}

.card 
{
    background-color: #0276fd;
}

